body {
    background-color: #f3e5d8;
    display: flex;
    justify-content: center;
}

.container{
    padding: 70px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    justify-content: center;
    background-color: white;
    width: 40%;
/* }

.image-container{
    /* background-color: rgb(40, 224, 163); */
} */

.image{
    border-radius: 25px;
    width: 100%;
    height: 300px;
}

.title{
    font-size: 50px
}

.list-bold{
    font-weight: 700;
}

.list-container{
    background-color: #fff7fc;
    padding: 20px;
    border-radius: 10px;
}

.list-title{
    color: #65233f;
}

.list-title-bold{
    color: #65233f;
    font-weight: 700;
    font-size: larger;
}

 table {
    padding: 10px;
    border-collapse: collapse;
    tr {
        border-bottom: 1px solid black;
        td {
            padding-top: 20px;
            padding-right: 250px;
        }
    }
}